<%= image_tag @dot.image.url(:medium) %>
<p>
  <strong>Description:</strong>
  <%= @dot.description %>
</p>

<% if @dot.user == current_user %>
	<%= link_to 'Edit', edit_dot_path(@dot) %> |
<% end %>
<%= link_to 'Back', dots_path %>
